.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: none;
}

.search-btn {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff414d;
  color: #fff;
  cursor: pointer;
}

.recipe-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
